<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
  </style>
</head>
<body>
  <h1>Records for magic bean 'stock'</h1>
  <table>
  <tr>
    <th>Date</th>
    <th>Open</th>
    <th>High</th>
    <th>Low</th>
  </tr>
  {{range .}}
  <tr>
    <td>{{.Date}}</td>
    <td>{{.Open}}</td>
    <td>{{.High}}</td>
    <td>{{.Low}}</td>
  </tr>
  {{end}}
  </table>
</body>
</html>